@CHARSET "utf-8";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	text-align: center;
	background-color: #E6E6FA;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
	margin:0px auto;
    position: relative;

	width:					1024px;
	margin:					0px auto;
	text-align:				left;
}

#main{
    padding-bottom:30px;
}

#footer{
	text-align:right;
	background-color: black;
	color: white;
 	position: absolute;
    bottom:0px;
    width:100%;
	font-size: 12px;
}

/*-- mainNavi --*/
ul#mainNavi{
	clear: both;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
	display: inline-block;
}
ul#mainNavi li{
	float: left;
	width: 150px;
	padding: 0;
	margin: 0;
	border-right: 1px dotted #AAAAAA;
	text-align: center;
	list-style-type: none;
	font-size: 90%;
}
ul#mainNavi li a{
	display: block;
	padding: 5px 0;
}
ul#mainNavi li a:hover{
	background-color: #D9D9FF;
}
ul#mainNavi li.mainNavi01{
	border-left: 1px dotted #AAAAAA;
}
/*clearfix*/
ul#mainNavi:after{
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
	content: ".";
	font-size: 0.1em;
}

div#logo{
	padding-top: 6px;
	padding-bottom: 3px;
}
