@CHARSET "utf-8";

/*
body{
	width: 980px;
}*/

#screen {
  background-color: white;
  border: solid 1px;
  margin-bottom:20px;
  margin-right:50px;
}

#ranking {
  margin-top:10px;
}

/* 左寄せ */
.floatLeft{
	float: left;
	margin-right: 1em;
}

/* 右寄せ */
.floatRight{
	float: right;
	margin-right: 1em;
}

/* floatの解除 */
.floatClear{
	clear: both;
}