@CHARSET "utf-8";

div#wmp {
	float: left;
}

div#chat {
	float: right;
	height: 500px;
}

div#messageListDiv {
	height: 350px;
	width: 350px;
	overflow: auto;
}

div#userListDiv {
	height: 100px;
	overflow: auto;
}

#messageList {
	list-style-type: none;
}
#messageList li {
	margin-top: 0.5em;
}